<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Preguntar antes de</h2>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span>Enviar mensaje</span>
        <p>Solicitar confirmación antes de enviar.</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.CONFIRM_BEFORE_SENDING" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
