<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración para Nuevo Mensaje</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Request Confirmations</h2>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span>Confirm before sending mail</span>
        <p>mail</p>
      </ion-label>
      <!--      <ion-checkbox [(ngModel)]="MYSHAREDPREFERENCES.CONFIRM_BEFORE_SENDING" (click)="fnFetchMyPreferences()"></ion-checkbox>-->
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h2>Allow Actions</h2>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span>Confirmar antes de enviar correo</span>
        <p>envio de mensaje</p>
      </ion-label>
      <!--      <ion-checkbox [(ngModel)]="MYSHAREDPREFERENCES.CONFIRM_BEFORE_SENDING" (click)="fnFetchMyPreferences()"></ion-checkbox>-->
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Confirmar antes de enviar correo</span>
        <p>envio de mensaje</p>
      </ion-label>
      <!--      <ion-checkbox [(ngModel)]="MYSHAREDPREFERENCES.CONFIRM_BEFORE_SENDING" (click)="fnFetchMyPreferences()"></ion-checkbox>-->
    </ion-item>
  </ion-list>
</ion-content>
