<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar animated="true" placeholder="Buscar mensaje" (ionInput)="searchByEvent($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="items.length > 0">
    <ion-item-sliding *ngFor="let item of items;let i = index" (click)="fnViewDetail(item)">
      <ion-item>
        <ion-label style="margin: 0; padding: 0">
          <table>
            <tr>
              <td style="padding: 0.75rem">
                <ion-avatar style="opacity: 0.8" [ngClass]="'color-' + item.name.charAt(0).toUpperCase()"> {{item.name.charAt(0).toUpperCase()}} </ion-avatar>
              </td>
              <td style="padding: 0.75rem 0.75rem 0.75rem 0.25rem">
                <ion-text *ngIf="!item.is_read">
                  <div style="font-size: 1.01rem; font-weight: 700">{{item.name}}</div>
                  <div style="font-size: 0.975rem; font-weight: 600">{{item.subject}}</div>
                  <div style="font-size: 0.75rem">{{item.message}}</div>
                </ion-text>
                <ion-text *ngIf="item.is_read">
                  <div style="font-size: 1.01rem">{{item.name}}</div>
                  <div style="font-size: 0.975rem">{{item.subject}}</div>
                  <div style="font-size: 0.75rem">{{item.message}}</div>
                </ion-text>
              </td>
            </tr>
          </table>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="medium">
          <ion-icon slot="start" name="archive"></ion-icon>
          Archivar
        </ion-item-option>
        <ion-item-option color="dark">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="dark">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="items.length < 1">
    <ion-grid>
      <ion-row style="height: 100vh">
        <ion-col size="12" style="top: -15%; text-align: center">
          <ion-label>
            <ion-icon slot="icon-only" name="mail-outline" size="large"></ion-icon>
            <div>No se han encontrado mensajes.</div>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <!--  <ion-list *ngIf="items.length <= 0">-->
  <!--    <ion-grid>-->
  <!--      <ion-row style="height: 100vw">-->
  <!--        <ion-col style="top: 75%; bottom: 50%">-->
  <!--          <ion-icon slot="icon-only" name="sad"></ion-icon>-->
  <!--          <p>Search value not found</p>-->
  <!--        </ion-col>-->
  <!--      </ion-row>-->
  <!--    </ion-grid>-->
  <!--  </ion-list>-->
</ion-content>
