<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [placeholder]="'Search here'" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!--<ion-header>-->
<!--  <ion-toolbar color="danger">-->
<!--    &lt;!&ndash;    <ion-buttons left>&ndash;&gt;-->
<!--    &lt;!&ndash;      <button ion-button icon-only menuToggle>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ion-icon name="menu"></ion-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;      </button>&ndash;&gt;-->
<!--    &lt;!&ndash;    </ion-buttons>&ndash;&gt;-->
<!--    <ion-searchbar [placeholder]="'Search here'" (ionInput)="getItems($event)"></ion-searchbar>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-list *ngIf="items.length >= 1">
    <ion-item-sliding #item *ngFor="let item of items;let i = index" (click)="fnViewDetail(item)">
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="3" size-sm="2" size-md="2" size-lg="2" size-xl="1">
                <ion-avatar style="opacity: 0.8" [ngClass]="'color-' + item.name.charAt(0).toUpperCase()"> {{item.name.charAt(0).toUpperCase()}} </ion-avatar>
              </ion-col>
              <ion-col size-xs="9" size-sm="10" size-md="10" size-lg="10" size-xl="11">
                <ion-text *ngIf="!item.is_read">
                  <div style="font-size: 1.01rem; font-weight: 700">{{item.name}}</div>
                  <div style="font-size: 0.975rem; font-weight: 600">{{item.subject}}</div>
                  <div style="font-size: 0.75rem">{{item.message}}</div>
                </ion-text>
                <ion-text *ngIf="item.is_read">
                  <div style="font-size: 1.01rem">{{item.name}}</div>
                  <div style="font-size: 0.9rem">{{item.subject}}</div>
                  <div style="font-size: 0.75rem">{{item.message}}</div>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="medium">
          <ion-icon slot="start" name="archive"></ion-icon>
          Archivar
        </ion-item-option>
        <ion-item-option color="dark">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="dark">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!--      <ion-button ion-item unset *ngFor="let item of items;let i = index" (click)="fnViewDetail(item)">-->
    <!--        <ion-avatar item-left style="opacity: 0.8">-->
    <!--          <button ion-fab [ngClass]="'button-profile color-' + item.name.charAt(0).toUpperCase()">-->
    <!--            <span style="font-size: 1.8em">{{item.name.charAt(0).toUpperCase()}}</span>-->
    <!--          </button>-->
    <!--        </ion-avatar>-->
    <!--        <h2 *ngIf="item.is_read">{{item.name}}</h2>-->
    <!--        <h2 *ngIf="!item.is_read"><b>{{item.name}}</b></h2>-->
    <!--        <h3 *ngIf="item.is_read">{{item.subject}}</h3>-->
    <!--        <h3 *ngIf="!item.is_read"><b>{{item.subject}}</b></h3>-->
    <!--        <p *ngIf="item.is_read">{{item.message}}</p>-->
    <!--        <p *ngIf="!item.is_read"><b>{{item.message}}</b></p>-->
    <!--      </ion-button>-->
  </ion-list>
  <ion-list *ngIf="items.length <= 0">
    <ion-grid>
      <ion-row style="height: 100vw">
        <ion-col style="top: 75%; bottom: 50%">
          <ion-icon slot="icon-only" name="sad"></ion-icon>
          <p>Search value not found</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
