<ion-header>
  <ion-toolbar color="danger">
<!--    <ion-buttons left>-->
<!--      <button ion-button icon-only menuToggle>-->
<!--        <ion-icon name="menu"></ion-icon>-->
<!--      </button>-->
<!--    </ion-buttons>-->
    <ion-searchbar [placeholder]="'Search here'" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <ion-list *ngIf="items.length >= 1">-->
<!--    <button ion-item unset *ngFor="let item of items;let i = index" detail-none (click)="fnViewDetail(item,i)">-->
<!--      <ion-avatar item-left style="opacity: 0.8">-->
<!--        <button ion-fab [ngClass]="'button-profile color-' + item.name.charAt(0).toUpperCase()">-->
<!--          <span style="font-size: 1.8em">{{item.name.charAt(0).toUpperCase()}}</span>-->
<!--        </button>-->
<!--      </ion-avatar>-->
<!--      <h2 *ngIf="item.is_read">{{item.name}}</h2>-->
<!--      <h2 *ngIf="!item.is_read"><b>{{item.name}}</b></h2>-->
<!--      <h3 *ngIf="item.is_read">{{item.subject}}</h3>-->
<!--      <h3 *ngIf="!item.is_read"><b>{{item.subject}}</b></h3>-->
<!--      <p *ngIf="item.is_read">{{item.message}}</p>-->
<!--      <p *ngIf="!item.is_read"><b>{{item.message}}</b></p>-->
<!--    </button>-->
<!--  </ion-list>-->
  <ion-list *ngIf="items.length <= 0">
    <ion-grid>
      <ion-row style="height: 100vw">
        <ion-col style="top: 75%; bottom: 50%">
          <ion-icon slot="icon-only" name="sad"></ion-icon>
          <p>Search value not found</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
