<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <ion-grid>
              <ion-row>
                <ion-col size="2" style="height: 100%; display: block; vertical-align: middle">
                  <img style="height: 2.75rem; width: 2.75rem" src="./assets/imgs/gmail.svg" />
                </ion-col>
                <ion-col size="10" style="padding: 0 0 0 0">
                  <div style="padding: 0.3rem 0 0 0">Gmail <span style="font-size: 0.75rem; font-weight: 400">(clone)</span></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list-header>
          <ion-avatar style="width: 100px; height: auto">
            <img src="./assets/imgs/profile.jpg" />
          </ion-avatar>
        </ion-list-header>
        <ion-note>
          <ion-label>
            <div style="font-size: 1.2rem; font-weight: 500; margin: 0.5rem 0 0 0">Alex Christian Quispe Roque</div>
            <div style="font-size: 0.975rem">alexchristianqr@gmail.com</div>
            <div style="font-size: 0.975rem">storage used: 10% of 15GB</div>
            <div style="font-size: 0.675rem; padding: 0.125rem 0">
              <a href="#" style="text-decoration: none">Privacy Policy</a>
              <span>&nbsp;.&nbsp;</span>
              <a href="#" style="text-decoration: none">Terms of Service</a>
            </div>
          </ion-label>
        </ion-note>
        <ion-label>
          <ion-text>PRIMARY</ion-text>
        </ion-label>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pagesSection1; let i = index">
            <ion-item routerDirection="root" [routerLink]="[page.path]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-label>
          <ion-text>SECONDARY</ion-text>
        </ion-label>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pagesSection2; let i = index">
            <ion-item routerDirection="root" [routerLink]="[page.path]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pagesSection3; let i = index">
          <ion-item routerDirection="root" [routerLink]="[page.path]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
            <span>{{ page.title }}</span>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
