<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <table>
                  <tr>
                    <td>
                      <img style="height: 1.75rem; width: 1.75rem" src="./assets/imgs/gmail.svg" />
                    </td>
                    <td>
                      <div style="font-size: 1.12rem; font-weight: 500; padding: 0.25rem 0 0 0; margin-left: 0.2rem">
                        Gmail<span style="font-size: 0.7rem; font-weight: 300; margin-left: 0.2rem">(clone)</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <table>
          <tr>
            <td style="vertical-align: middle">
              <ion-avatar>
                <img src="./assets/imgs/profile.jpg" />
              </ion-avatar>
            </td>
            <td style="padding: 0.5rem; vertical-align: middle">
              <div style="font-size: 1rem; font-weight: 500; margin: 0">Alex Christian Quispe Roque</div>
              <div style="font-size: 0.75rem">alexchristianqr@gmail.com</div>
              <div style="font-size: 0.6rem; padding: 0.125rem 0">
                <a href="#" style="text-decoration: none">Privacy Policy</a>
                <span>&nbsp;.&nbsp;</span>
                <a href="#" style="text-decoration: none">Terms of Service</a>
              </div>
            </td>
          </tr>
        </table>
        <ion-item-divider style="margin: 1rem 0"></ion-item-divider>
        <ion-label>
          <ion-text>PRIMARY</ion-text>
        </ion-label>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pagesSection1; let i = index">
            <ion-item routerDirection="root" [routerLink]="[page.path]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-label>
          <ion-text>SECONDARY</ion-text>
        </ion-label>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pagesSection2; let i = index">
            <ion-item routerDirection="root" [routerLink]="[page.path]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pagesSection3; let i = index">
          <ion-item routerDirection="root" [routerLink]="[page.path]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
            <span>{{ page.title }}</span>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
