<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list color="danger">
      <ion-list-header>
        <ion-label>PRIMARY</ion-label>
      </ion-list-header>
      <ion-item menuClose detail-none icon-only *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon"></ion-icon>
          <span>{{p.title}}</span>
      </ion-item>
    </ion-list>

    <ion-list color="danger">
    <ion-list-header>
    <ion-label>SECONDARY</ion-label>
    </ion-list-header>
      <ion-item menuClose detail-none icon-only *ngFor="let p of pagesSecondary" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>
        <span>{{p.title}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
