// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}
//
//.menu-list {
//  border: none !important;
//  button.item {
//    border-top: none !important;
//    border-bottom: none !important;
//    .item-inner {
//      background-image: inherit !important;
//      border-bottom: none !important;
//    }
//  }
//}

.activeLink {
  background-color: map_get($colors, light);
}

//.list-empty {
//  position: fixed;
//  display: block;
//  left: 0;
//  right: 0;
//  top: 50%;
//  text-align: center;
//}

#myInput {
  width: calc(100% - 10px);
  border: 0;
  border-radius: 0;
  background: transparent;
}

::-webkit-input-placeholder {
  color: #fff !important;
}

.searchbar-md .searchbar-input {
  padding: 0 10px 0 0;
  box-shadow: none;
  background-color: transparent;
  color: #fff;
}

.searchbar-md .searchbar-search-icon,
.searchbar-md .searchbar-md-cancel {
  display: none;
}

.searchbar-md .searchbar-clear-icon {
  background-image: none;
}

.toolbar-background-md {
  background-color: #fff;
}
//
//.list-md {
//  margin: 0;
//}

.footer-md::before,
.tabs-md[tabsPlacement='bottom'] > .tabbar::before {
  top: -1px;
}

.button-profile {
  width: 50px;
  height: 50px;
  box-shadow: none;
}

.color-A {
  background-color: #2196f3;
  color: #fff;
}

.color-B {
  background-color: #e91e63;
  color: #fff;
}

.color-C {
  background-color: #9c27b0;
  color: #fff;
}

.color-D {
  background-color: #673ab7;
  color: #fff;
}

.color-E {
  background-color: #3f51b5;
  color: #fff;
}

.color-F {
  background-color: #03a9f4;
  color: #fff;
}

.color-G {
  background-color: #00bcd4;
  color: #fff;
}

.color-H {
  background-color: #009688;
  color: #fff;
}

.color-I {
  background-color: #4caf50;
  color: #fff;
}

.color-J {
  background-color: #8bc34a;
  color: #fff;
}

.color-K {
  background-color: #cddc39;
  color: #fff;
}

.color-L {
  background-color: #ffeb3b;
  color: #fff;
}

.color-M {
  background-color: #ffc107;
  color: #fff;
}

.color-N {
  background-color: #ff9800;
  color: #fff;
}

.color-O {
  background-color: #ff5722;
  color: #fff;
}

.color-P {
  background-color: #795548;
  color: #fff;
}

.color-Q {
  background-color: #9e9e9e;
  color: #fff;
}

.color-R {
  background-color: #607d8b;
  color: #fff;
}

.color-S {
  background-color: #d32f2f;
  color: #fff;
}

.color-T {
  background-color: #303f9f;
  color: #fff;
}

.color-U {
  background-color: #bf360c;
  color: #fff;
}

.color-V {
  background-color: #f57f17;
  color: #fff;
}

.color-W {
  background-color: #212121;
  color: #fff;
}

.color-X {
  background-color: #004d40;
  color: #fff;
}

.color-Y {
  background-color: #827717;
  color: #fff;
}

.color-Z {
  background-color: #b71c1c;
  color: #fff;
}
