<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Request Confirmations</h2>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <span>Confirm before remove mail</span>
        <p>mail</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MYSHAREDPREFERENCES.detail.CONFIRM_BEFORE_REMOVING" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-item-divider></ion-item-divider>

  <ion-list>
    <ion-list-header>
      <h2>Allow Actions</h2>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <span>Show remove</span>
        <p>button</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MYSHAREDPREFERENCES.detail.MAIL_SHOW_BUTTON_REMOVE" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Show archive</span>
        <p>button</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MYSHAREDPREFERENCES.detail.MAIL_SHOW_BUTTON_ARCHIVE" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Show un-read</span>
        <p>button</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MYSHAREDPREFERENCES.detail.MAIL_SHOW_BUTTON_UN_READ" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
