<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <h3>Acciones</h3>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span>Botón eliminar</span>
        <p>Mostrar botón eliminar mensaje.</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.MAIL_SHOW_BUTTON_REMOVE" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Botón archivar</span>
        <p>Mostrar botón archivar mensaje.</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.MAIL_SHOW_BUTTON_ARCHIVE" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Botón no leído</span>
        <p>Mostrar botón mensaje no leído.</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.MAIL_SHOW_BUTTON_UN_READ" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-list-header>
      <h3>Preguntar antes de</h3>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span>Eliminar mensaje</span>
        <p>Solicitar confirmación antes de eliminar mensaje.</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.CONFIRM_BEFORE_REMOVING" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
