page-popover-create {
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .menu-list {

    border: none !important;

    button.item {

      border-top: none !important;
      border-bottom: none !important;

      .item-inner {
        background-image: inherit !important;
        border-bottom: none !important;
      }
    }
  }
}
