<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Acciones</h2>
    </ion-list-header>
    <!--    <ion-item>-->
    <!--      <ion-label>-->
    <!--        <span>Show sync</span>-->
    <!--        <p>button</p>-->
    <!--      </ion-label>-->
    <!--      <ion-checkbox [(ngModel)]="MY_SHARED_PREFERENCES.inbox.MAIL_SHOW_BUTTON_SYNC" (click)="updateMyPreferences()"></ion-checkbox>-->
    <!--    </ion-item>-->
    <!--    <ion-item>-->
    <!--      <ion-label>-->
    <!--        <span>Show clean</span>-->
    <!--        <p>button</p>-->
    <!--      </ion-label>-->
    <!--      <ion-checkbox [(ngModel)]="MY_SHARED_PREFERENCES.inbox.MAIL_SHOW_BUTTON_CLEAN" (click)="updateMyPreferences()"></ion-checkbox>-->
    <!--    </ion-item>-->
    <ion-item>
      <ion-label>
        <h2>Boton de búsqueda</h2>
        <p style="font-size: 0.75rem">Mostrar boton de búsqueda en la barra principal.</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.MAIL_SHOW_BUTTON_SEARCH" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Base de datos</h2>
        <p style="font-size: 0.75rem">Inicializar la base con datos de prueba.</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="MY_SHARED_PREFERENCES.SETTINGS.INITIALIZE_DATABASE" (click)="updateMyPreferences()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
