<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mail Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Allow Actions</h2>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span>Show sync</span>
        <p>button</p>
      </ion-label>
      <!--      <ion-checkbox [(ngModel)]="MYSHAREDPREFERENCES.MAIL_SHOW_BUTTON_SYNC" (click)="fnFetchMyPreferences()"></ion-checkbox>-->
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Show clean</span>
        <p>button</p>
      </ion-label>
      <!--      <ion-checkbox [(ngModel)]="MYSHAREDPREFERENCES.MAIL_SHOW_BUTTON_CLEAN" (click)="fnFetchMyPreferences()"></ion-checkbox>-->
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Show search</span>
        <p>button</p>
      </ion-label>
      <!--      <ion-checkbox [(ngModel)]="MYSHAREDPREFERENCES.MAIL_SHOW_BUTTON_SEARCH" (click)="fnFetchMyPreferences()"></ion-checkbox>-->
      <!--      <ion-checkbox  (click)="fnFetchMyPreferences()"></ion-checkbox>-->
    </ion-item>
  </ion-list>
</ion-content>
