<!--<ion-list class="menu-list" style="margin: 0">-->
<!--  <ion-button ion-item *ngFor="let item of list" (click)="open(item)">{{item.title}}</ion-button>-->
<!--</ion-list>-->

<!--<ion-button id="click-trigger">Left-Click Me</ion-button>-->
<!--<ion-popover>-->
<!--  <ng-template>-->
<!--    <ion-content class="ion-padding">-->
<!--      <ion-list class="menu-list" style="margin: 0">-->
<!--        <ion-button ion-item *ngFor="let item of list" (click)="open(item)">{{item.title}}</ion-button>-->
<!--      </ion-list>-->
<!--    </ion-content>-->
<!--  </ng-template>-->
<!--</ion-popover>-->

<!--<ion-button (click)="presentPopover($event)">Click Me</ion-button>-->
<!--<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">-->
<!--  <ng-template>-->
<!--    <ion-content class="ion-padding">Hello World!</ion-content>-->
<!--  </ng-template>-->
<!--</ion-popover>-->
<!--<ng-template>-->
<ion-content>
  <ion-list>
    <ion-item [button]="true" [detail]="false" *ngFor="let item of list" (click)="open(item)"> {{item.title}} </ion-item>
  </ion-list>
</ion-content>
<!--</ng-template>-->
